[Unit]
Description=Ping router repeatedly
Documentation=man:ping-router(7)
After=network.target

[Service]
ExecStart=/usr/bin/ping 192.168.1.1 -q
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
Alias=ping-router.service
WantedBy=multi-user.target
